.AnnotationHeader {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid var(--border-gray);
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;

    .logo {
        font-family: "阿里妈妈东方大楷 Regular";
        font-variation-settings: normal;
    }

    .title {
        margin-left: 20px;
    }

    .buttonBox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        display: flex;
        gap: .5rem;

        .buttonItem {
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 16px;
            border: 1px solid var(--border-gray);
            color: #1E1E1E;
            cursor: pointer;
            transition: border-color 0.3s ease;
        }

        .buttonItem:hover {
            border-color: #ADADAD;
        }
    }
}

.Collaborators {
    width: 200px;
    font-size: 12px;

    &_Title {
        position: relative;

        &_Plus {
            width: 18px;
            height: 18px;
            border-radius: 9px;
            border: none;
            background-color: #000;
            color: white;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
}