.Dashbord {
    width: 100%;
    height: 100vh;
    display: flex;

    aside {
        width: 320px;
        height: 100%;
        border-right: 1px solid #e4e4e7;

        .Logo {
            font-family: "阿里妈妈东方大楷 Regular";
            font-variation-settings: normal;
            width: 100%;
            height: 75px;
            text-align: center;
            line-height: 75px;
            font-size: 25px;
        }

        .divide {
            width: 100%;
            height: 1px;
            background-color: #e4e4e7;
            opacity: .5;
        }

        .btnBox {
            width: 88%;
            margin: 17px auto;

            .btnItem {
                width: 100%;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                border-radius: 4px;
                padding-left: 5px;
                cursor: pointer;

                span {
                    margin-left: 10px;
                }
            }

            .btnItem:nth-child(n+1) {
                margin-top: 10px;
            }

            .activeBtnItem {
                background-color: #000000;
                color: white;
            }

            .noactiveBtnItem:hover {
                background-color: #F3F4F6;
            }
        }
    }

    main {
        flex: 1;
        background-color: #FAFAFA;
        padding: 10px 20px 30px 30px;
        overflow-y: auto;
    }
}