.Editor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Main {
    flex: 1;
    display: flex;

    .toolbar {
        width: 280px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .toolbar_hidden {
        width: 48px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .content {
        flex: 1;
        background-color: #f3aaaa;
        transition: flex 0.3s ease-in-out; // 内容区也添加过渡
    }

    .sidebar {
        width: 200px;
    }
}