.Annotation {
    .ContentBox {
        width: 100%;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        @media (max-width: 1480px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .ContentBoxItem {
            width: 100%;
            position: relative;
            aspect-ratio: 1 / 1.414;
            background: #F3F4F6;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            opacity: 0;
            animation: box_active 0.3s ease forwards;
            transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

            &_Content {
                border-radius: 4px;
                flex: 1;
                background-color: #ffffff;
                font-size: 11px;
                line-height: 1.5;
                overflow-y: auto;
                word-break: break-word;
                padding: 8px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;

                // 默认隐藏滚动条
                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: transparent; // 默认透明
                    border-radius: 2px;
                }

                // hover 时显示
                &:hover::-webkit-scrollbar-thumb {
                    background: rgba(0, 0, 0, 0.2);
                }

                &:hover::-webkit-scrollbar-thumb:hover {
                    background: rgba(0, 0, 0, 0.4);
                }
            }

            &_Content * {
                font-size: inherit !important;
                max-width: 100%;
            }

            &_Content h1,
            &_Content h2,
            &_Content h3 {
                font-size: 13px !important;
                margin: 2px 0 !important;
                font-weight: 600;
            }

            &_Content p {
                margin: 2px 0 !important;
                line-height: 1.4;
            }

            &_Content ul,
            &_Content ol {
                padding-left: 16px !important;
                margin: 2px 0 !important;
            }

            &_Content li {
                margin: 1px 0 !important;
                font-size: 12px !important;
            }

            &_Content pre {
                flex-wrap: wrap;
                background: black;
                border-radius: 0.5rem;
                color: white;
                font-family: 'JetBrainsMono', monospace;
                margin: 2px 0;
                padding: 0.45rem 0.7rem;
                white-space: pre-wrap;
                word-break: break-word;
                overflow-wrap: break-word;

                overflow-x: hidden;

                code {
                    display: block;
                    width: 100%;
                    max-width: 100%;

                    white-space: inherit;
                    word-break: inherit;
                    overflow-wrap: inherit;

                    background: none;
                    color: inherit;
                    font-size: 10px;
                    padding: 0;
                }
            }

            &_Content mark {
                border-radius: 2px;
                box-decoration-break: clone;
                padding: 2px 3px;
            }

            &_Content blockquote {
                border-left: 3px solid #E7E4E2;
                margin: 5px 0;
                padding-left: 5px;
            }

            &_Content hr {
                border: none;
                border-top: 1px solid #F0EEED;
                margin: 5px 0;
            }

            &_Content a {
                color: #1a73e8;
                text-decoration: underline;
            }

            &_text {
                width: 100%;
                margin-top: 1rem;

                &_title {
                    font-size: 14px;
                    position: relative;

                    .ContentBoxItem_Modify_DelButton {
                        width: 17px;
                        height: 17px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        color: red;
                        font-size: 11px;
                        transition: background-color 0.3s ease;
                        opacity: 0;
                    }

                    .ContentBoxItem_Modify_DelButton:hover {
                        background-color: #fbc1c1;
                    }
                }

                &_time {
                    font-size: 12px;
                    margin-top: 3px;
                    position: relative;

                    .AnnotationTypeTag {
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        border-radius: 3.5px;
                    }
                }

            }

            &:hover {
                box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
                border-color: #d0d0d0;
            }

            &:hover .ContentBoxItem_Modify_DelButton {
                opacity: 1;
            }
        }


        @keyframes box_active {
            0% {
                opacity: 0;
                transform: translateX(-40px);
            }

            50% {
                opacity: 1;
                transform: translateX(10px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .ContentBoxItem1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 60px;

            img {
                width: 50px;
            }

            &_text {
                width: 100%;
                font-size: 14px;
                margin-top: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 1rem 1rem 1rem;

                p:nth-child(2) {
                    font-size: 12px;
                    margin-top: 3px;
                }
            }

        }
    }

    .ContentBoxLoading {
        margin-top: 25px;
        font-size: 30px;
    }

    .titleInput {
        margin-top: 10px;
    }
}