.editor-container {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
}

.editor-content {
    height: calc(100vh - 90px);
    padding: 24px 30px;
    line-height: 1.7;
    font-size: 16px;
    color: #333;
    overflow-y: auto;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    // 默认隐藏滚动条
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent; // 默认透明
        border-radius: 2px;
    }

    // hover 时显示
    &:hover::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}


.tiptap {
    border: 0;
    outline: none;

    &::after {
        content: '';
        display: block;
        height: 60px;
    }

    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    code {
        background-color: #6A00F5;
        border-radius: 0.4rem;
        color: black;
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    pre {
        background: black;
        border-radius: 0.5rem;
        color: white;
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    blockquote {
        border-left: 3px solid #E7E4E2;
        margin: 1.5rem 0;
        padding-left: 1rem;
    }

    hr {
        border: none;
        border-top: 1px solid #F0EEED;
        margin: 2rem 0;
    }

    a {
        color: #1a73e8;
        text-decoration: underline;
    }
}