.editor-container {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
}

.editor-content {
    height: calc(100vh - 90px);
    padding: 24px 30px;
    line-height: 1.7;
    font-size: 16px;
    color: #333;
    overflow-y: auto;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    // 默认隐藏滚动条
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent; // 默认透明
        border-radius: 2px;
    }

    // hover 时显示
    &:hover::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
    }
}